{% extends "base.html" %} 
{% load static %} 

{% block head %}
<script src="{% static 'checkProfanity.js' %}"></script>
{% endblock head %} 

{% block body %}
<section style="background-color: var(--primary-color); height: 100%">
	<div class="container">
		<p class="text-white" style="font-size: 2rem">HiChat</p>
	</div>
	<div class="container py-5 pt-1">
		<div class="row">
			<div class="col-md-12">
				<div class="card" id="chat3" style="border-radius: 15px">
					<div class="card-body">
						<div class="row">
							<div
								class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0"
							>
								<div class="p-3" style="border-right: 1px solid gray;">
									{% comment %} <div class="input-group rounded mb-3">
										<input
											type="search"
											class="form-control rounded"
											placeholder="Search"
											aria-label="Search"
											aria-describedby="search-addon"
										/>
										<span
											class="input-group-text border-0"
											id="search-addon"
										>
											<i class="fas fa-search"></i>
										</span>
									</div> {% endcomment %}

									<div class="mb-3" style="font-weight: bold; font-size: 2rem;">
										Users
									</div>

									<div
										data-mdb-perfect-scrollbar="true"
										style="
											position: relative;
											height: 400px;
											overflow: auto;
										"
									>
										<ul class="list-unstyled mb-0">
											{% for user in users %}
											{% include 'chat/user.html' with username=user %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							{% if room_name %}
							<div class="col-md-6 col-lg-7 col-xl-8" style="position: relative">
								<div
									id="messages-container"
									class="pt-3 pe-3"
									data-mdb-perfect-scrollbar="true"
									style="
										position: relative;
										height: 400px;
										overflow: auto;
										scroll-behaviour: smooth;
									"
								>
									{% include 'chat/message.html' with sent=True %} 
									{% include 'chat/message.html' with send=False %}
									{% include 'chat/message.html' with sent=True %} 
									{% include 'chat/message.html' with send=False %}
									{% include 'chat/message.html' with sent=True %} 
									{% include 'chat/message.html' with send=False %}
								</div>

								{{ room_name|json_script:"room-name" }}

								<div
									class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2"
									style="
										position: absolute;
										bottom: 0;
										left: 0;
										width: 100%;
									"
								>
									<img
										src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
										alt="avatar 3"
										style="width: 40px; height: 100%; margin-right: 4px;"
									/>
									<input
										type="text"
										class="form-control form-control-lg"
										id="chat-message-input"
										placeholder="Type message"
									/>
									<input id="chat-message-submit" type="button" value="Send" class="btn btn-primary" style="margin-left: 1rem;" />
									<a class="ms-1 text-muted" href="#!"
										><i class="fas fa-paperclip"></i
									></a>
									<a class="ms-3 text-muted" href="#!"
										><i class="fas fa-smile"></i
									></a>
									<a class="ms-3" href="#!"
										><i class="fas fa-paper-plane"></i
									></a>
								</div>
							</div>
							{% else %}
							<div class="col-md-6 col-lg-7 col-xl-8">
								<p style="text-align: center; margin-top: 10rem; font-weight: bold;">
									Select user to Chat with
								</p>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %} 

{% block scripts %}
<script>
	const roomName = JSON.parse(
		document.getElementById("room-name").textContent
	);

	let protocal = "ws://";
	if (window.location.protocol === "https:") protocal = "wss://";

	if (roomName) {
		const chatSocket = new WebSocket(
			protocal + window.location.host + "/ws/chat/" + roomName + "/"
		);

		chatSocket.onmessage = function (e) {
			const data = JSON.parse(e.data);
			// document.querySelector("#chat-log").value += data.message + "\n";
			console.log("data: ", data);
		};

		chatSocket.onclose = function (e) {
			console.error("Chat socket closed unexpectedly");
		};

		document.querySelector("#chat-message-input").focus();
		document.querySelector("#chat-message-input").onkeyup = function (e) {
			if (e.keyCode === 13) {
				// enter, return
				document.querySelector("#chat-message-submit").click();
			}
		};

		const msgDom = document.createElement("div");
		msgDom.className = "d-flex flex-row justify-content-end mb-4";
		msgDom.style.maxWidth = "60%";
		msgDom.style.marginLeft = "auto";

		const msgsContainer = document.querySelector("#messages-container")

		document.querySelector("#chat-message-submit").onclick = function (e) {
			const messageInputDom = document.querySelector("#chat-message-input");
			const message = messageInputDom.value;

			checkProfanity(message).then((response) => {
				const isBad = response["is-bad"]
				const censoredContent = response["censored-content"]
				
				// <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
				msgDom.innerHTML = `<div>
					<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
						${censoredContent}
					</p>
					</div>
					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
						alt="avatar 1"
						style="width: 45px; height: 100%"
					/>`

				msgsContainer.append(msgDom)
				msgsContainer.scrollTop = msgsContainer.scrollHeight

				if (isBad) {
					const badWords =  response["bad-words-list"].join("")
					alert(`Language like "${badWords}" is not allowed on this platform!`)
				}
			}).catch(console.log);

			chatSocket.send(
				JSON.stringify({
					message: message,
				})
			);
			messageInputDom.value = "";
		}; 
	}
</script>
{% endblock scripts %}
