{% extends "base.html" %} 
{% load static custom_tags %} 

{% block head %}
<style>
	:root {
		--max-h: calc(100vh - 56px);
		--bottom-height: calc(var(--max-h) - var(--top-nav-h));
		--p: 1rem;
		--msg-container-h: calc(var(--bottom-height) - var(--p) - var(--p));
		--chat-top-h: 80px;
		--chat-bottom-h: 100px;
		--chat-messages-h: calc(var(--msg-container-h) - var(--chat-top-h) - var(--chat-bottom-h));
		--chat-bg: #f6f7f8;
		--bd-c: rgba(0, 0, 0, 0.5);
	}
	.chat-user:hover {
		background-color: rgba(255, 165, 0, 0.2);
	}
	.chat-user.active {
		border-radius: 1rem;
		background-color: rgba(255, 165, 0, 0.5);
	}
	.bd-up-show {
		border: none;
	}
	.app-title { font-size: 1.25rem; font-weight: bold; }
	@media (min-width: 768px) {
		.bd-up-show {
			border-width: 1px;
			border-style: solid;
			border-color: rgba(0, 0, 0, .1);
		}
		:root { --max-h: 90vh; }
		.app-title { font-size: 2rem; }
	}
	.control-height {
		height: var(--msg-container-h);
	}
	.bd-c { border-color: rgba(0, 0, 0, .5);}
	@media (max-width: 768px) { 
		.x { --bs-gutter-x: 2rem; }
		:root {
			--msg-container-h: var(--bottom-height);
		} 
		.cont-p { padding: 0 1rem;}
	}
	.p-img { background-color: rgba(0, 0, 0, .3);}
	.messages {
		position: absolute;
		z-index: 300;
		width: 100%;
		top: var(--top-nav-h);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
<script src="{% static 'checkProfanity.js' %}"></script>
<script src="{% static 'moment.js' %}" defer></script>
<script src="{% static 'helpers.js' %}" defer></script>
{% endblock head %} 

{% block body %}
<section style="background-color: var(--primary-color); height: 100%; position: relative;">
	<div 
		class="container d-flex flex-row justify-content-between align-items-center" 
		style="height: var(--top-nav-h); top: 0;"
	>
		<p class="text-white app-title" style="margin: 0;">Chat App</p>
		<div class="d-flex flex-row align-items-center">
			<span class="mx-4 text-white d-block">Hello, <b>{{user}}</b></span>
			<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
		</div>
	</div>
	
	<div id="alert-messages" class="messages"></div>

	<div class="container" style="height: var(--bottom-height)">
		<div class="row">
			<div class="col-md-12">
				<div class="card pe-md-2 border-0" id="chat3" style="border-radius: 15px; overflow: hidden;">
					<div class="card-body cont-p">
						<div class="row x">
							<div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0 {% if room_name %}d-none d-md-block{% endif %}">
								<div class="p-3 bd-up-show" style="height: 100%; overflow: hidden;">
									{% comment %} <div class="input-group rounded mb-3">
										<input
											type="search"
											class="form-control rounded"
											placeholder="Search"
											aria-label="Search"
											aria-describedby="search-addon"
										/>
										<span
											class="input-group-text border-0"
											id="search-addon"
										>
											<i class="fas fa-search"></i>
										</span>
									</div> {% endcomment %}

									<div class="mb-2" style="font-weight: bold; font-size: 1.5rem;">
										Users
									</div>

									<div
										data-mdb-perfect-scrollbar="true"
										class="scroll-container"
										style="position: relative; height: 90%;"
									>
										<ul class="list-unstyled mb-0">
											{% for user in users %}
											{% include 'chat/user.html' with user=user %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							{{ user.id|json_script:"user-id" }}
							{% if room_name %}
							{{ room_name|json_script:"room-name" }}
							<div class="col-md-6 col-lg-7 col-xl-8 ps-0 pe-0 control-height border bd-c" style="position: relative;">
								<div class="d-flex justify-content-start align-items-center border-bottom bd-c" 
									style="height: var(--chat-top-h); background-color: var(--chat-bg);"
								>
									<a href="{% url 'chat:index' %}" class="d-block text-black align-self-start" style="margin: 12px 12px 0;">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
										</svg>
									</a>
									<img
										src={{recipient|get_profile_pic}}
										alt="recipient profile picture"
										class="p-img"
										style="width: 60px; height: 60px; margin-right: 0.5rem; border-radius: 50%;"
										width="60px"
										height="60px"
									/>
									<div class="d-flex flex-column gap-0">
										<span class="font-weight-bold" style="font-weight: bold;">{{recipient.username}}</span>
										<span class="text-muted">{{recipient.email}}</span>
									</div>
								</div>
								
								<div
									id="messages-container"
									data-mdb-perfect-scrollbar="true"
									class="pt-3 px-2 scroll-container"
									style="position: relative; height: var(--chat-messages-h);"
								>
									{% for message in messages %}
										{% is_sent message request as sent %}
										{% include 'chat/message.html' with sent=sent message=message %} 
									{% endfor %}
								</div>

								<div
									id="chat-input-container"
									class="text-muted d-flex justify-content-between align-items-center p-2 border-top bd-c"
									style="
										position: absolute;
										left: 0;
										bottom: 0;
										width: 100%;
										height: calc(var(--chat-bottom-h) - 2px);
										background-color: var(--chat-bg);
										gap: 0.25rem;
									"
								>
									<img
										src={{user|get_profile_pic}}
										class="p-img"
										alt="my profile picture"
										style="width: 40px; height: 40px; border-radius: 50%; display: block;"
										width="40px"
										height="40px"
									/>
									<input
										type="text"
										class="form-control form-control-lg"
										id="chat-message-input"
										placeholder="Type message"
										style="width: auto; flex-grow: 1; flex-shrink: 1; min-width: 50px;"
									/>
									<button id="chat-message-submit" type="button" class="btn btn-primary" style="margin-left: 0.25rem; border-radius: 8px;">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
											<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
										</svg>
										<span class="d-none d-sm-inline-block">Send<span>
									</button>
								</div>
							</div>
							{% else %}
							<div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block control-height">
								<p style="text-align: center; margin-top: 10rem; font-weight: bold; font-size: 1.5rem;">
									Select user to Chat with
								</p>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %} 

{% block scripts %}
{% if room_name %}
<script>
    const msgsContainer = document.querySelector("#messages-container");
	if (msgsContainer) {
		msgsContainer.scrollTop = msgsContainer.scrollHeight;
	}

	const roomName = JSON.parse(
		document.getElementById("room-name").textContent
	);
	const userId = JSON.parse(
		document.getElementById("user-id").textContent
	);

	let protocal = "ws://";
	if (window.location.protocol === "https:") protocal = "wss://";

	function setupSocket() {
		if (roomName) {
			const chatSocket = new WebSocket(
				protocal + window.location.host + "/ws/chat/" + roomName + "/"
			);

			chatSocket.onmessage = function (e) {
				const data = JSON.parse(e.data);
				console.log(data);
				displayMessage(userId, data.message, false);
			};
			
			chatSocket.onclose = function (e) {
				console.error("Chat socket closed unexpectedly, restarting...");
				setTimeout(() => setupSocket(), 3000);
			};

			document.querySelector("#chat-message-input").focus();
			document.querySelector("#chat-message-input").onkeyup = function (e) {
				if (e.keyCode === 13) {
					// enter, return
					document.querySelector("#chat-message-submit").click();
				}
			};
			
			const btnSubmit = document.querySelector("#chat-message-submit");
			btnSubmit.onclick = function (e) {
				const messageInputDom = document.querySelector("#chat-message-input");
				const message = messageInputDom.value;

				if (!message.trim()) return
				
				btnSubmit.innerHTML = `
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
					<span class="d-none d-sm-inline-block">Loading...<span>
				`;
				btnSubmit.disabled = true;

				checkProfanity(message).then((response) => {
					const isBad = response["is-bad"]
					const censoredContent = response["censored-content"]				
					
					chatSocket.send(
						JSON.stringify({
							message: censoredContent,
						})
					);
					messageInputDom.value = "";
					displayMessage(userId, censoredContent, true);

					if (isBad) {
						const badWords =  response["bad-words-list"].join(", ")
						showAlert(`Language like "${badWords}" is not allowed on this platform!`)
					}
				}).catch(console.log)
				.finally(() => {
					btnSubmit.innerHTML = `
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
							<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
						</svg>
						<span class="d-none d-sm-inline-block">Send<span>
					`;
					btnSubmit.disabled = false;
				});
			}; 
		}
	}
	
	setupSocket();
</script>
{% endif %}
{% endblock scripts %}
