{% if sent %}
<div class="d-flex flex-row justify-content-end mb-4" style="max-width: 60%; margin-left: auto;">
	<div>
		<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
			{{ message }}
		</p>
		{% comment %} <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p> {% endcomment %}
	</div>
	<img
		src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
		alt="avatar 1"
		style="width: 45px; height: 100%"
	/>
</div>
{% else %}
<div class="d-flex flex-row justify-content-start mb-4" style="max-width: 60%">
	<img
		src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
		alt="avatar 2"
		style="width: 45px; height: 100%"
	/>
	<div>
		<p
			class="small p-2 ms-3 mb-1 rounded-3"
			style="background-color: #f5f6f7"
		>
			{{ message }}
		</p>
		{% comment %} <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p> {% endcomment %}
	</div>
</div>
{% endif %}
